body {
	min-width: 1040px;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #404040;
	background-color: #fff;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.big-container {
	width: 1015px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.block-title {
	margin: 0;
	margin-bottom: 75px;
	font-size: 40px;
	line-height: 60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	font: inherit;
	line-height: inherit;
	font-weight: bold;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	word-wrap: break-word;
}

.btn-solid {
	color: #ffffff;
	border: 2px solid #834700;
	background-color: #834700;
}

.btn-solid:hover {
	background-color: #6a3900;
	border-color: #6a3900;
}

.btn-solid:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5c3200;
	border-color: #5c3200;
}

.btn-transparent {
	color: #834700;
	border: 2px solid #834700;
}

.btn-transparent:hover {
	color: #6a3900;
	border-color: #6a3900;
}

.btn-transparent:active {
	color: rgba(92, 50, 0, 0.3);
	border-color: #cec1b2;
}

.btn-transparent-light {
	color: #bcb6ab;
	border: 2px solid #a5a097;
}

.btn-transparent-light:hover {
	color: #ffffff;
	background-color: #a5a097;
	border-color: #a5a097;
}

.btn-transparent-light:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #8f8a81;
	border-color: #8f8a81;
}

/* Хедер */

.page-header {
	height: 490px;
	padding-top: 60px;
	background-color: #7a5118;
	background-image: url("img/wheat-back.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.header-top {
	margin-bottom: 120px;
}

.logo-header {
	float: left;
	width: 140px;
	height: 76px;
}

.logo-link {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.navigation-list {
	float: right;
	width: 600px;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border-top: 1px solid rgb(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-item {
	position: relative;
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}

.navigation-list .navigation-item:last-child {
	margin-right: 0;
}

.navigation-link {
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 13px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.navigation-list .navigation-link:hover {
	color: #ffcb78;
}

.navigation-list .navigation-link:hover::after {
	content: "";
	position: absolute;
	bottom: -1px;
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 1);
}


.navigation-list .navigation-link:active {
	color: rgba(255, 203, 120, 0.3);
}

.slogan-title {
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
	text-align: center;
	color: #ffffff
}

/* Новинки */

.new-products {
	padding-top: 80px;
	padding-bottom: 110px;
}

.new-products-title {
	margin: 0;
	margin-top: 80px;
	padding: 0;
}

.new-products-cards {
	margin-top: 74px;
}

.product-card {
	position: relative;
	float: left;
	width: 334px;
	padding-right: 30px;
	padding-left: 34px;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
}

.product-card:nth-child(2n) {
	border-left: none;
}

.card-title {
	position: relative;
	margin: 0;
}

.card-image {
	margin-top: 30px;
	margin-left: 10px;
}

.product-card-info {
	position: absolute;
	top: 85px;
	right: 0;
	width: 150px;
	padding-right: 25px;
}

.card-data {
	width: 150px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	border-collapse: collapse;
}

.cell {
	border: 1px solid #e5e5e5;
	padding: 5px 10px;
}

.product-composition {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
}

.card-description {
	width: 330px;
	margin: 0;
	margin-bottom: 60px;
}

.product-card-controls {
	font-size: 0;
}

.product-card-controls a {
	font-size: 16px;
}

.product-card-controls .btn-transparent {
	margin-right: 7px;
}

.card-cost {
	display: inline-block;
	margin-left: 25px;
	font-size: 16px;
	vertical-align: middle;
	color: #000000;
}

/* Преимущества */

.advantages {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #ffcb78;
}

.advantages-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.advantages-list-item {
	position: relative;
	float: left;
	width: 210px;
	padding-right: 95px;
	padding-left: 95px;
	border-right: 1px solid #e5b66c;
}

.advantages-list .advantages-list-item:first-child {
	padding-left: 0;
}

.advantages-list .advantages-list-item:last-child {
	padding-right: 0;
	border-right-color: transparent;
}

.advantages-list-item::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 68px;
	background: url("img/icon-sprite.png") no-repeat;
}

.advantage-handmade::before {
	background-position: 0 0;
}

.advantage-homeland::before {
	width: 46px;
	height: 65px;
	background-position: -50px 0;
}

.advantage-expensive::before {
	width: 63px;
	height: 58px;
	background-position: -96px 0;
}

.advantage-title {
	margin: 100px 0 20px 0;
	font-size: 20px;
	text-transform: uppercase;
	color: #000000;
}

.advantage-description {
	margin: 0;
}

/* Немного истории */

.theory-product {
	padding-top: 80px;
	padding-bottom: 80px;
}

.theory-product-title {
	margin: 0;
	margin-bottom: 10px;
}

.theory-product-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reference-title {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.reference-sourse {
	float: right;
	width: 196px;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	text-transform: none;
	color: #000000;
}

.reference-description {
	margin-left: 0;
}

.reference-description-image {
	float: right;
	width: 200px;
	height: 101px;
	margin-top: 10px;
}

.reference-description-text {
	float: left;
	width: 490px;
	margin: 0;
}

.reference-sourse-link {
	font-style: italic;
	color: #834700;
}

.reference-sourse-link:hover {
	color: #6a3900;
}

.reference-sourse-link:active {
	color: #cab7a2;
}

/* Пресса о нас */

.reviews {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #ede5d8;
}

.review {
	position: relative;
	margin: 0;
}

.review::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -105px;
	width: 41px;
	height: 31px;
	background: url("img/icon-sprite.png") no-repeat;
	background-position: -159px 0;
}

.review-description {
	width: 690px;
	margin: 0;
	margin-bottom: 35px;
}

.review-author {
	float: right;
	width: 330px;
	margin-top: 10px;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.btn-review-more {
	float: left;
	padding: 13px 20px;
	color: rgba(0, 0, 0, 0.3);
	background-color: transparent;
	border-color: rgba(0, 0, 0, 0.3);
}

.btn-review-more:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
}

.btn-review-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.4);
	border-color: rgba(0, 0, 0, 0.4);
}

/* Ассортимент */

.catalog {
	padding-top: 90px;
	padding-bottom: 90px;
}

.catalog-data {
	width: 100%;
	border-collapse: collapse;
}

.catalog-data th {
	padding-bottom: 30px;
	font-size: 11px;
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
	color: #999999;
}

.catalog-data td {
	padding: 17px 0;
}

.catalog-data td,
.catalog-data th {
	border-bottom: 1px solid #e5e5e5;
}

.catalog-data-names {
	width: 400px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.catalog-data-alc {
	width: 90px;
}

.catalog-data-calories {
	width: 60px;
}

.catalog-data-volume {
	text-transform: uppercase;
}

.catalog-data-cost,
.catalog-title-row .catalog-data-cost {
	text-align: right;
}

.new {
	margin-left: 20px;
	padding: 2px 5px;
	font-size: 8px;
	line-height: 30px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 2px;
}

/* Заказать */

.ordering {
	padding-top: 80px;
	padding-bottom: 110px;
	background-color: #ffcb78;
}

.ordering-description {
	width: 660px;
	margin: 0;
	margin-bottom: 70px;
}

.ordering-form {
	width: 630px;
}

.feedback-form-group {
	margin-bottom: 25px;
}

.ordering-form label {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	vertical-align: top;
	text-transform: uppercase;
	color: #000000;
}

.email-input,
.additional-telephone-number-input,
.telephone-number-input,
.fullname-input,
.comment-textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 15px 10px 15px 20px;
	font: inherit;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #b69054;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
}

.comment-textarea {
	height: 120px;
	resize: none;
}

.email-input:hover,
.additional-telephone-number-input:hover,
.telephone-number-input:hover,
.fullname-input:hover,
.comment-textarea:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.email-input:focus,
.additional-telephone-number-input:focus,
.telephone-number-input:focus,
.fullname-input:focus,
.comment-textarea:focus {
	color: #000000;
	background-color: #ffffff;
}

.telephone-number {
	float: left;
	width: 290px;
}

.additional-telephone {
	float: right;
	width: 290px;
}

.checkbox-area {
	margin-bottom: 40px;
}

.checkbox-subscription-input {
	margin: 0;
	margin-right: 10px;
}

.checkbox-area .form-label-subscription {
	margin-right: 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	color: #000000;
}

/* Футер */

.page-footer {
	padding-top: 60px;
	padding-bottom: 70px;
	background-color: #000000;
}

.footer-top {
	margin-bottom: 47px;
}

.logo-footer {
	float: left;
	width: 140px;
	height: 76px;
	margin-left: 37px;
}

.footer-navigation {
	margin-top: 7px;
	margin-right: 107px;
}

/* соцсети */

.social-network {
	float: left;
	width: 216px;
}

.social-btn {
	position: relative;
	float: left;
	width: 70px;
	height: 66px;
	margin-left: -1px;
	font-size: 0;
	background-color: #1b1b1b;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid rgba(255, 203, 120, 0.1);
}

.social-btn:hover {
	z-index: 1;
	border: 1px solid #605037;
}

.social-btn:active {
	opacity: 0.5;
}

.social-inst {
	background-image: url(img/icon-insta.png);
}

.social-fb {
	background-image: url(img/icon-fb.png);
}

.social-vk {
	background-image: url(img/icon-vk.png);
}

.footer-annotation {
	float: left;
	width: 200px;
	margin-top: 12px;
	margin-left: 91px;
	font-size: 14px;
	line-height: 20px;
	color: #989898;

}

.footer-annotation-description {
	margin: 0;
}

.footer-copyright {
	float: left;
	width: 300px;
	margin-left: 200px;
	font-size: 0;
}

.footer-copyright a {
	color: #989898;
	text-decoration: none;
}

.btn-logo {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 66px;
	vertical-align: top;
	background-color: #1b1b1b;
	border: 1px solid rgba(255, 203, 120, 0.1);
}

.btn-logo:hover {
	border-color: rgba(255, 203, 120, 0.3);
}

.btn-logo:active {
	opacity: 0.5;
}

.btn-logo-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.footer-copyright span {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	color: #989898;
}

.copyright-text {
	margin-top: 25px;
	margin-left: 30px;
}
